<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    @error('E_INVALID_CREDENTIALS')
        <p role="alert"> {{$message}} </p>
    @end
    <form action="{{route('auth.login.store')}}" method="post">
        {{ csrfField() }}
        <input type="text" name="email" placeholder="email" value="{{old('email') || ""}}"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <input type="checkbox" name="isRememberMe">
        <button type="submit">Login</button>
    </form>

</body>
</html>