<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    {{inspect(flashMessages)}}
    <form action="{{route('auth.register.store')}}" method="post">
        {{ csrfField() }}
        <input type="text" name="fullName" placeholder="Fullname"><br>
        <input type="text" name="email" placeholder="email"><br>
        @if (flashMessages.has('errors.email'))
            {{flashMessages.get('errors.email').join(', ')}}
        @endif
        <input type="password" name="password" placeholder="Password"><br>
        @if (flashMessages.has('errors.password'))
            {{flashMessages.get('errors.password').join(', ')}}
        @endif
        <button type="submit">Submit</button>
    </form>

</body>
</html>