<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align:center">{{movie.title}}</h1>
    <br><br>
    <img src="{{movie.posterUrl}}" alt="">
    <p>{{movie.abstract}}</p>
    <form action="{{route('delete', {}, { qs: {_method : 'DELETE'} })}}" method="POST">
        {{ csrfField() }}
        <button style="background-color:#27282a; color:white;text-align:center;border-radius:10px;padding:15px;" type="submit">Delete movie</button>
    </form>
</body>
</html>